# START CRON JOB
23 * * * * /usr/local/bin/python /app/mw_bazaar.py > /proc/1/fd/1 2>/proc/1/fd/2
55 */5 * * * /usr/local/bin/python /app/hybrid.py > /proc/1/fd/1 2>/proc/1/fd/2
*/20 * * * * /usr/local/bin/python /app/triage.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB
